@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #171717;
  --foreground: #ffffff;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: Mono, Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

@utility bg-items-* {
  & li {
    padding: 3px 5px 3px 5px;
    width: fit-content;
    cursor: pointer;
    border: 1px solid #ffffff;
    box-shadow: 4px 4px 0px --value(--color-*, [color]);

    &:hover {
      translate: -1px -1px;
      box-shadow: 5px 5px 0px --value(--color-*, [color]);
    }

    &:active {
      translate: 2px 2px;
    }
  }
}

@property --ebox-offset-size {
  syntax: "*";
  inherits: false;
}

@property --ebox-line-color {
  syntax: "<percentage>";
  inherits: false;
}

@utility ebox-line-* {
  --ebox-line-color: --value(--color-*, [color]);
  --ebox-line-color: --modifier(--color-*, [color]);
}

@utility ebox-* {

  &::before {
    z-index: -20;
    content: "";
    position: absolute;
    --ebox-offset-size: --value(integer)%;

    left: 0px;
    width: calc(--value(integer)% + 100%);
    height: calc(--value(integer)% + 100%);
    background-color: --value(--color-*, [color]);
    background-color: --modifier(--color-*, [color]);

    clip-path: polygon(--value(integer)% 100%, 0% calc(100% - --value(integer)%), 0% 0%, calc(100% - --value(integer)%) 0%, 100% --value(integer)%, 100% 100%);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 20;

    left: 100%;
    width: --value(integer)%;
    height: --value(integer)%;
    transform-origin: top left;
    background-color: var(--ebox-line-color);

    clip-path: polygon(0 1px, 1px 0, 100% 98%, 98% 100%);
  }
}

@utility ebox-top-perspective-* {
  &::before {
    bottom: -1px;
    transform: rotateX(180deg);
    animation: b --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }

  &::after {
    transform-origin: center left;
    bottom: calc(100% - 2px);
    transform: rotateX(180deg);
    animation: a --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }
}

@utility ebox-re-top-perspective-* {
  &::before {
    bottom: -1px;
    transform: rotateX(180deg);
    clip-path: polygon(var(--ebox-offset-size) calc(100% - var(--ebox-offset-size)), 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% 0%, 100% calc(100% - var(--ebox-offset-size)));
    animation: r-b --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }

  &::after {
    transform-origin: center left;
    bottom: calc(100% - 1px);
    transform: rotateX(180deg);
    clip-path: polygon(0 1px, 1px 0, 100% 0%, 98% 2%);
    animation: r-a --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }
}

@utility ebox-perspective-* {
  &::before {
    top: 0px;
    animation: b --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }

  &::after {
    top: 100%;
    animation: a --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }
}

@utility ebox-re-perspective-* {
  &::before {
    top: 0px;
    clip-path: polygon(var(--ebox-offset-size) calc(100% - var(--ebox-offset-size)), 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% 0%, 100% calc(100% - var(--ebox-offset-size)));
    animation: r-b --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;

  }

  &::after {
    top: 100%;
    clip-path: polygon(0 1px, 1px 0, 100% 0%, 98% 2%);
    animation: r-a --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }
}

@keyframes b {
  1% {
    clip-path: polygon(var(--ebox-offset-size) 100%, 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% var(--ebox-offset-size), 100% 100%);
  }

  100% {
    clip-path: polygon(var(--ebox-offset-size) calc(100% - var(--ebox-offset-size)), 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% 0%, 100% calc(100% - var(--ebox-offset-size)));
  }
}

@keyframes r-b {
  1% {
    clip-path: polygon(var(--ebox-offset-size) calc(100% - var(--ebox-offset-size)), 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% 0%, 100% calc(100% - var(--ebox-offset-size)));
  }

  100% {
    clip-path: polygon(var(--ebox-offset-size) 100%, 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% var(--ebox-offset-size), 100% 100%);
  }
}

@keyframes a {
  1% {
    clip-path: polygon(0 1px, 1px 0, 100% 98%, 98% 100%);
  }

  100% {
    clip-path: polygon(0 1px, 1px 0, 100% 0%, 98% 2%);
  }
}

@keyframes r-a {
  1% {
    clip-path: polygon(0 1px, 1px 0, 100% 0%, 98% 2%);
  }

  100% {
    clip-path: polygon(0 1px, 1px 0, 100% 98%, 98% 100%);
  }
}

@keyframes blink {
  70% {
    opacity: 100;
  }

  50% {
    opacity: 100;
  }

  35% {
    opacity: 100;
  }

  20% {
    opacity: 0;
  }
}

.typing-effect {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(44) 1s 1 normal both;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.blinking-cursor {
  animation: blink 1s steps(2, start) infinite;
}

@property --key-bg {
  syntax: "*";
  inherits: false;
  /* initial-value: #00000000; */
}

@property --key-sh {
  syntax: "*";
  inherits: false;
  /* initial-value: #00000000; */
}

@utility key-bg-* {
  --key-bg: --value(--color-*, [color]);
  --key-bg: --modifier(--color-*, [color]);
  /* --ebox-line-color: --value(--color-*, [color]);
  --ebox-line-color: --modifier(--color-*, [color]); */
}

@utility key-sh-* {
  --key-sh: --value(--color-*, [color]);
  --key-sh: --modifier(--color-*, [color]);
}

@utility key-button-* {
  /* height: fit-content; */
  /* width: fit-content; */
  position: relative;
  background: linear-gradient(--value(angle, [angle]), var(--key-sh) 45%, var(--key-sh) 64%, var(--key-sh) 65%, var(--key-sh) 75%, var(--key-bg) 76%);

  & span {
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: inherit;
  }
}

/* ======================= HELLYEA ANIMATIONS ======================= */

@property --direction {
  syntax: "*";
  inherits: false;
}

@property --re-direction {
  syntax: "*";
  inherits: false;
}

@utility animate-direction-* {
  --re-direction: --value(integer)%;
  --direction: --modifier(integer)%;
}

@utility -animate-direction-* {
  --re-direction: calc(--value(integer)% * -1);
  --direction: calc(--modifier(integer)% * -1);
}

@utility animate-slide-* {
  animation: slide --value(integer, [integer])ms var(--tw-ease) forwards;
  animation-delay: --modifier(integer, [integer])ms;
  transform-origin: right;
}

@utility animate-re-slide-* {
  opacity: 0;
  animation: re-slide --value(integer, [integer])ms var(--tw-ease) forwards;
  animation-delay: --modifier(integer, [integer])ms;
  transform-origin: right;
}

@keyframes slide {
  0% {
    position: static;
    visibility: visible;
    transform: none;
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  99% {
    transform: translateX(var(--direction));
    opacity: 0;
  }

  100% {
    position: relative;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes re-slide {
  0% {
    position: relative;
    visibility: hidden;
    opacity: 0;
  }

  1% {
    transform: translateX(var(--re-direction));
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: none;
    visibility: visible;
    position: static;
    opacity: 1;
  }
}

@property --shrink-direction {
  syntax: "*";
  inherits: false;
}

@utility animate-shrink-* {
  animation: shrink --value(integer)ms var(--tw-ease) forwards;
  transform-origin: right;
}

@utility animate-re-shrink-* {
  animation: re-shrink --value(integer)ms var(--tw-ease) forwards;
  transform-origin: right;
}

@keyframes re-shrink {
  0% {
    opacity: 0;
    width: 0px;
  }

  1% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes shrink {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }

  99% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    opacity: 0;
    width: 0px;
  }
}

@utility animate-drop-* {
  opacity: 0;
  height: 0px;
  animation: drop --modifier(integer, [integer])ms var(--tw-ease) forwards;
  animation-delay: --value(integer, [integer])ms;
  transform-origin: top;
}

@utility animate-re-drop-* {
  animation: re-drop --modifier(integer, [integer])ms var(--tw-ease) forwards;
  animation-delay: --value(integer, [integer])ms;
  transform-origin: top;
}

@keyframes drop {
  0% {
    opacity: 0;
    height: 0px;
  }

  1% {
    transform: scaleY(0);
    height: 1%;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: scaleY(1);
    height: 100%;
    opacity: 1;
  }
}

@keyframes re-drop {
  0% {
    transform: scaleY(1);
    height: 100%;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  99% {
    transform: scaleY(0);
    height: 1%;
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0px;
  }
}

@utility animate-rise-* {
  opacity: 0;
  animation: rise --modifier(integer, [integer])ms var(--tw-ease) forwards;
  animation-delay: --value(integer, [integer])ms;
  transform-origin: top;
}

@utility animate-re-rise-* {
  animation: re-rise --modifier(integer, [integer])ms var(--tw-ease) forwards;
  animation-delay: --value(integer, [integer])ms;
  transform-origin: top;
}

@keyframes rise {
  0% {
    position: relative;
    visibility: hidden;
    opacity: 0;
  }

  1% {
    transform: translateY(var(--direction));
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: none;
    visibility: visible;
    position: static;
    opacity: 1;
  }
}

@keyframes re-rise {
  0% {
    /* visibility: visible; */
    /* transform: none; */
    /* opacity: 1; */
  }

  30% {
    opacity: 1;
  }

  99% {
    transform: translateY(var(--re-direction));
    opacity: 0;
  }

  100% {
    position: relative;
    visibility: hidden;
    opacity: 0;
  }
}

@utility animate-abduct-* {
  animation: abduct --modifier(integer, [integer])ms var(--tw-ease) forwards;
  animation-delay: --value(integer, [integer])ms;
  transform-origin: top;
}

@utility animate-re-abduct-* {
  opacity: 0;
  animation: re-abduct --modifier(integer, [integer])ms var(--tw-ease) forwards;
  animation-delay: --value(integer, [integer])ms;
  transform-origin: top;
}

@keyframes abduct {
  0% {
    visibility: visible;
    transform: none;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  99% {
    transform: translateY(var(--re-direction));
    opacity: 0;
  }

  100% {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes re-abduct {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    transform: translateY(var(--direction));
    opacity: 0;
  }

  30% {
    position: static;
    opacity: 1;
  }

  100% {
    position: static;
    transform: none;
    visibility: visible;
    opacity: 1;
  }
}

/* TODO HACER ESTO A UN UTIL y hacer la pestaña (triangulo) de chat tmb */

.line::before {
  z-index: -10;
  content: "";
  position: absolute;
  width: 100%;
  top: 2%;
  left: 90%;
  height: 3px;
  background-color:
    /* #e17100 */
    #fe9a00
    /* #7f22fe */
  ;
  /* border-bottom: 1px #5d0ec0; */

}

/* .grid-gradiant {
  background:
    radial-gradient(circle at bottom left, hsl(0, 0%, 2%) 5%, hsla(0, 0%, 1%, 0.9) 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(to top right, hsl(0, 0%, 2%), transparent);
} */

/* @keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0)
  }

} */

/* .shaky {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
} */

/* .coded-button:hover span::before,
.coded-button:focus span::before {
  animation: coded-animation linear both 1.4s;
  }
  animation-duration: 1s;

.coded-button span {
  --spacing2: 1.2em;
  padding-inline: var(--spacing2);
  transition: 0.3s;
  box-sizing: border-box;
  position: relative;
  display: flex;
}

.coded-button span::before {
  color: #8f8f8f;
  content: "";
  box-sizing: border-box;
  position: absolute;
  justify-self: flex-start;
  background: inherit;
  text-orientation: sideways-right;
} */

/* .gradient-button {
  position: relative;
}

button.gradient-button::before {
  --first-shadow: rgba(41, 41, 41, 0.733);
  --second-shadow: rgba(41, 41, 41, 0.733);
  top: 0;
  left: 0;
  box-sizing: border-box;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  background: linear-gradient(45deg, var(--first-shadow) 45%, var(--first-shadow) 64%, var(--second-shadow) 65%, var(--second-shadow) 75%, rgba(255, 255, 255, 0) 76%);
  } */
/* background: linear-gradient(65deg, rgba(41, 41, 41, 0.623) 35%, rgba(41, 41, 41, 0.623) 54%, rgba(41, 41, 41, 0.733) 55%, rgba(41, 41, 41, 0.733) 65%, rgba(255, 255, 255, 0) 70%); */